/* styles.css */

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-row label {
    flex: 0 0 120px;
    margin-right: 10px;
  }
  
  .form-row input {
    flex: 1 0 100px;
  }


  .form-container {
    width: 500px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  body {
    font-family: 'Lato', sans-serif;
  }