/* styles.css */

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-row label {
  color: whitesmoke;
  flex: 0 0 120px;
  margin-right: 10px;
}

.form-row input {
  flex: 1 0 100px;
}

.form-container {
  width: 500px;
  margin: 0 auto;
  background-color: #4b4b4b; /* Set the background color of the container */
  padding: 20px; /* Add padding to the container */
  border-radius: 8px;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

h2 {
  color: rgb(233, 233, 233);
  text-align: center;
}

.centered-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #333333;
  padding: 10px;
}

.centered-nav ul {
  list-style-type: none;
  padding: 0;
}

.centered-nav ul li {
  display: inline;
  margin: 0 10px;
  margin-right: 100px;
}

.centered-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #4b4b4b;
  font-size: 12px;
}

.container {
  display: flex;
  background-color: #575757c9;
  min-height: 500px;
  padding: 20px;
  border-radius: 8px;
  color: rgba(245, 245, 245, 0.815);
}

.left-container {
  flex: 1;
  background-color: #575757c9;
}

.middle-container {
  flex: 1;
  background-color: #575757c9;
}

.right-container {
  flex: 1;
  background-color: #5757578e;
}

.table {
  border-spacing: 0.5em;
}

.table td {
  padding: 0.5em;
  color: lightgrey;
  text-align: left;
}

.table th {
  color: lightgrey;
  text-align: left;
}

.multi-column-list {
  -webkit-column-count: 5;  /* Number of columns */
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 5px;  /* Gap between columns */
  -moz-column-gap: 5px;
  column-gap: 5px;
  list-style-type: none;
}