<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="centered-nav">
            <ul>
                <li><a href="{{ url_for('buy') }}">Buy</a></li>
                <li><a href="{{ url_for('sell') }}">Sell</a></li>
                <li><a href="{{ url_for('scenario') }}">Scenario</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-section">
    <main>
        {% block body %}{% endblock %}
    </main>
    </div>
</body>
</html>
