{% extends 'base.html' %}

{% block body %}
<div class="form-container">
  <h2>Buy Form</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-row">
      {{ form.money.label }}
      {{ form.money(class="form-control") }}
      {% for error in form.money.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    
    <div class="form-row">
      {{ form.buy_bottom.label }}
      {{ form.buy_bottom(class="form-control") }}
      {% for error in form.buy_bottom.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-row">
      {{ form.buy_top.label }}
      {{ form.buy_top(class="form-control") }}
      {% for error in form.buy_top.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-row">
      {{ form.steps.label }}
      {{ form.steps(class="form-control") }}
      {% for error in form.steps.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    
    <div class="form-row">
      {{ form.step_increment.label }}
      {{ form.step_increment(class="form-control") }}
      {% for error in form.step_increment.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-row">
      {{ form.mu.label }}
      {{ form.mu(class="form-control") }}
      {% for error in form.mu.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-row">
      {{ form.sigma.label }}
      {{ form.sigma(class="form-control") }}
      {% for error in form.sigma.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-row">
      {{ form.number_sce.label }}
      {{ form.number_sce(class="form-control") }}
      {% for error in form.number_sce.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-row">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}
